<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Target for rolling file logging -->
		<target name="logfile" xsi:type="File"
				fileName="C:\logs\filewatcher.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				layout="${longdate} ${level} ${message}" />

		<!-- Target for Event Log -->
		<target name="eventlog" xsi:type="EventLog"
				source="FileWatcherService"
				log="Application" />
	</targets>

	<rules>
		<!-- Log all messages of Info level and above to the file -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<!-- Log all messages of Error level and above to the Event Log -->
		<logger name="*" minlevel="Error" writeTo="eventlog" />
	</rules>
</nlog>
